.heartButtonWrapper {
  width: 100%;
  margin-top: 10px;
}
.heartIcon {
  fill: var(--heart-color);
  width: 30px;
  height: 30px;
  transition: 0.2s all;
}

.heartButton {
  cursor: pointer;
  background: none;
  border: none;
}

.heartButton:hover .heartIcon {
  fill: tomato;
  color: #fff;
}

.heartIconActive {
  fill: red;
}
